@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-style: 16px;
    color: #555;
    
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
    text-decoration: none;
}

a:hover, a:focus {
    color: #ff7878;
    text-decoration: none;
    outline: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.navbar-inverse {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > li:hover {
    background-color: #ff7878;
    letter-spacing: 0.05em;
}
.navbar-inverse .navbar-nav > li {
    letter-spacing: 0.05em;
}

.navbar-inverse .navbar-brand{
    color: #999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}

#headerwrap {
    margin-top: -10px;
    padding-top: 20px;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}